<a href="https://colab.research.google.com/github/juliahansen3/Machine-Learning-Projects/blob/main/Dyslexia_Predictions_Via_Eye_Tracking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This data was pulled from a research dataset on Dyslexia test results. This research project focused on identifying Dyslexia in individuals using eye scanning techniques and tracking four different eye movements over time: sacades, fixations, sweeping movements, and transients (see article below).

https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0165508

The study consisted of 143 male test subjects, 68 of whom were not dyslexic and 75 of whom were dyslexic, and 38 female test subjects, 18 of whom were not dyslexic and 20 of whom were dyslexic.

The goal of this project is to convert each of the total 181 datasets into an array consisting of data from the four different eye movements over time that contribute to the demonstrated reading patterns, and fit a neural network to that input data and predict whether the data correpsonds to that of a dyslexic or non-dyslexic person.

In [ ]:
#importing neccessary packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#testing first file for group c data
#data has five columns: time, LX, LY, RX, RY; extracting last four columns only
Cfile="https://raw.githubusercontent.com/juliahansen3/Machine-Learning-Projects/main/Control%20M/C30/A1R.txt"
data=pd.read_table(Cfile, thousands=',',header=None, skiprows=1)
values=data.values
matrix=np.array(values)
Cfile2="https://raw.githubusercontent.com/juliahansen3/Machine-Learning-Projects/main/Control%20M/C31/A1R.txt"
data2=pd.read_table(Cfile2, thousands=',',header=None, skiprows=1)
values2=(data2.iloc[0:1250]).values
matrix2=np.array(values2)

In [ ]:
data

          0           1           2           3           4
0         0         0.0         0.0         0.0         0.0
1        20    -65539.0     19661.0    -65537.0    131074.0
2        40    458754.0     39322.0    111413.0    196611.0
3        60   1310741.0    327684.0   1310742.0    262148.0
4        80   1376273.0    589831.0   1376275.0    589831.0
...     ...         ...         ...         ...         ...
1245  24900  16253211.0 -11272322.0  16253213.0 -11337858.0
1246  24920  16253209.0 -11206785.0  16384284.0 -11272321.0
1247  24940  16449817.0 -11141248.0  16449819.0 -11272321.0
1248  24960   1638428.0 -11141248.0  16384282.0 -11272321.0
1249  24980  16318743.0 -11010175.0  16318744.0 -11141248.0

[1250 rows x 5 columns]

In [ ]:
Cfile="https://raw.githubusercontent.com/juliahansen3/Machine-Learning-Projects/main/Control%20M/C3{}/A1R.txt" #data located in github repository, raw file
n=68
arrays_LX=[]
arrays_LY=[]
arrays_RX=[]
arrays_RY=[]
Category=[]
lx=[]
ly=[]
rx=[]
ry=[]
for i in range (n):
  data_groupclx=pd.read_table(Cfile.format(i), usecols=[1], header=None, skiprows=1, thousands=',')
  values=(data_groupclx.iloc[0:1000]).values
  #extracting first 1000 rows and creating array out of values
  #and appending it to list for second column of data table
  arraylx=np.array(values)
  arraylxf=arraylx.flatten()
  arrays_LX.append(arraylxf)
  for j in arraylx: #ignore the nested for loops
    datacint=np.int(j)
    lx.append(datacint)
  dgclx=np.array(lx).flatten()
  #arrays_LX.append(dgclx)
  #doing same as lines 13-19, but with column 3
  data_groupcly=pd.read_table(Cfile.format(i), usecols=[2],header=None, skiprows=1, thousands=',')
  values2=(data_groupcly.iloc[0:1000]).values
  arrayly=np.array(values2)
  arraylyf=arrayly.flatten()
  arrays_LY.append(arraylyf)
  for j in arrayly:
    datacint=np.int(j)
    ly.append(datacint)
  dgcly=np.array(ly).flatten()
  #arrays_LY.append(dgcly)
  #column 4:
  data_groupcrx=pd.read_table(Cfile.format(i), usecols=[3], header=None, skiprows=1, thousands=',')
  values3=(data_groupcrx.iloc[:1000]).values
  arrayrx=np.array(values3)
  arrayrxf=arrayrx.flatten()
  arrays_RX.append(arrayrxf)
  for j in arrayrx:
    datacint=np.int(j)
    rx.append(datacint)
  dgcrx=np.array(rx).flatten()
  #arrays_RX.append(dgcrx)
  #column 5:
  data_groupcry=pd.read_table(Cfile.format(i), usecols=[4],header=None, skiprows=1, thousands=',')
  values4=(data_groupcry.iloc[:1000]).values
  arrayry=np.array(values4)
  arrayryf=arrayry.flatten()
  arrays_RY.append(arrayryf)
  for j in arrayry:
    datacint=np.int(j)
    ry.append(datacint)
  dgcry=np.array(ry).flatten()
  #arrays_RY.append(dgcry)
  #creating group label and appending it to list
  group="Not Dyslexic"
  Category.append(group)

In [ ]:
print(np.shape(np.array(arrays_LX)))

(68, 1000)

In [ ]:
#same code as group c data but for group d
Dfile="https://raw.githubusercontent.com/juliahansen3/Machine-Learning-Projects/main/Control%20F/D4{}/A1R.txt"
n=18
arrays_LX2=[]
arrays_LY2=[]
arrays_RX2=[]
arrays_RY2=[]
Category2=[]
for i in range(n):
  data_groupdlx=pd.read_table(Dfile.format(i), usecols=[1], header=None, skiprows=1, thousands=',')
  values5=(data_groupdlx.iloc[0:1000]).values
  arraylx2=np.array(values5)
  arraylx2f=arraylx2.flatten()
  arrays_LX.append(arraylx2f)
  lx2=[]
  for j in arraylx2:
    datacint=np.int(j)
    lx.append(datacint)
  dgdlx2=np.array(lx2).flatten()
  #arrays_LX.append(dgdlx2)
  data_groupdly=pd.read_table(Dfile.format(i), usecols=[2],header=None, skiprows=1, thousands=',')
  values6=(data_groupdly.iloc[0:1000]).values
  arrayly2=np.array(values6)
  arrayly2f=arrayly2.flatten()
  arrays_LY.append(arrayly2f)
  ly2=[]
  for j in arrayly2:
    datacint=np.int(j)
    ly.append(datacint)
  dgdly=np.array(ly2).flatten()
  #arrays_LY.append(dgdly)
  data_groupdrx=pd.read_table(Dfile.format(i), usecols=[3], header=None, skiprows=1, thousands=',')
  values7=(data_groupdrx.iloc[0:1000]).values
  arrayrx2=np.array(values7)
  arrayrx2f=arrayrx2.flatten()
  arrays_RX.append(arrayrx2f)
  rx2=[]
  for j in arrayrx2:
    datacint=np.int(j)
    rx.append(datacint)
  dgdrx=np.array(rx2).flatten()
  #arrays_RX.append(dgdrx)
  data_groupdry=pd.read_table(Dfile.format(i), usecols=[4],header=None, skiprows=1, thousands=',')
  values8=(data_groupdry.iloc[0:1000]).values
  arrayry2=np.array(values8)
  arrayry2f=arrayry2.flatten()
  arrays_RY.append(arrayry2f)
  ry2=[]
  for j in arrayry2:
    datacint=np.int(j)
    ry.append(datacint)
  dgdry=np.array(ry2).flatten()
  #arrays_RY.append(dgdry)
  group2="Not Dyslexic"
  Category2.append(group2)

In [ ]:
#B group code:
Bfile="https://raw.githubusercontent.com/juliahansen3/Machine-Learning-Projects/main/RD%20F/B2{}/A1R.txt"
n=20
arrays_LX3=[]
arrays_LY3=[]
arrays_RX3=[]
arrays_RY3=[]
Category3=[]
for i in range (n):
  data_groupblx=pd.read_table(Bfile.format(i), usecols=[1], header=None, skiprows=1, thousands=',')
  values9=(data_groupblx.iloc[0:1000]).values
  arraylx3=np.array(values9)
  arraylx3f=arraylx3.flatten()
  arrays_LX.append(arraylx3f)
  lx3=[]
  for j in arraylx3:
    databint=np.int(j)
    lx.append(databint)
  dgblx=np.array(lx3).flatten()
  data_groupbly=pd.read_table(Bfile.format(i), usecols=[2],header=None, skiprows=1, thousands=',')
  values10=(data_groupbly.iloc[0:1000]).values
  arrayly3=np.array(values10)
  arrayly3f=arrayly3.flatten()
  arrays_LY.append(arrayly3f)
  ly3=[]
  for j in arrayly3:
    databint=np.int(j)
    ly.append(databint)
  dgbly=np.array(ly3).flatten()
  #arrays_LY.append(dgbly)
  data_groupbrx=pd.read_table(Bfile.format(i), usecols=[3], header=None, skiprows=1, thousands=',')
  values11=(data_groupbrx.iloc[0:1000]).values
  arrayrx3=np.array(values10)
  arrayrx3f=arrayrx3.flatten()
  arrays_RX.append(arrayrx3f)
  rx3=[]
  for j in arrayrx3:
    databint=np.int(j)
    rx.append(databint)
  dgbrx=np.array(rx3).flatten()
  #arrays_RX.append(dgbrx)
  data_groupbry=pd.read_table(Bfile.format(i), usecols=[4],header=None, skiprows=1, thousands=',')
  values12=(data_groupbry.iloc[0:1000]).values
  arrayry3=np.array(values12)
  arrayry3f=arrayry3.flatten()
  arrays_RY.append(arrayly3f)
  ry3=[]
  for j in arrayry3:
    databint=np.int(j)
    ry.append(databint)
  dgbry=np.array(ry3).flatten()
  #arrays_RY.append(dgbry)
  group3="Dyslexic"
  Category3.append(group3)

In [ ]:
#a group data:
Afile="https://raw.githubusercontent.com/juliahansen3/Machine-Learning-Projects/main/RD%20M/A1{}/A1R.txt"
n=75
arrays_LX4=[]
arrays_LY4=[]
arrays_RX4=[]
arrays_RY4=[]
Category4=[]
for i in range (n):
  data_groupalx=pd.read_table(Afile.format(i), usecols=[1], header=None, skiprows=1, thousands=',')
  values13=(data_groupalx.iloc[0:1000]).values
  arraylx4=np.array(values13)
  arraylx4f=arraylx4.flatten()
  arrays_LX.append(arraylx4f)
  lx4=[]
  for j in arraylx4:
    dataaint=np.int(j)
    lx.append(dataaint)
  dgalx=np.array(lx4).flatten()
  data_groupaly=pd.read_table(Afile.format(i), usecols=[2],header=None, skiprows=1, thousands=',')
  values14=(data_groupaly.iloc[0:1000]).values
  arrayly4=np.array(values14)
  arrayly4f=arrayly4.flatten()
  arrays_LY.append(arrayly4f)
  ly4=[]
  for j in arrayly4:
    dataaint=np.int(j)
    ly.append(dataaint)
  dgaly=np.array(ly4).flatten()
  #arrays_LY.append(dgaly)
  data_grouparx=pd.read_table(Afile.format(i), usecols=[3], header=None, skiprows=1, thousands=',')
  values15=(data_grouparx.iloc[0:1000]).values
  arrayrx4=np.array(values15)
  arrayrx4f=arrayrx4.flatten()
  arrays_RX.append(arrayrx4f)
  rx4=[]
  for j in arrayrx4:
    dataaint=np.int(j)
    rx.append(dataaint)
  dgarx=np.array(rx4).flatten()
  #arrays_RX.append(dgarx)
  data_groupary=pd.read_table(Afile.format(i), usecols=[4],header=None, skiprows=1, thousands=',')
  values16=(data_groupary.iloc[0:1000]).values
  arrayry4=np.array(values16)
  arrayry4f=arrayry4.flatten()
  arrays_RY.append(arrayry4f)
  ry4=[]
  for j in arrayry4:
    dataaint=np.int(j)
    ry.append(dataaint)
  dgary=np.array(ry4).flatten()
  #arrays_RY.append(dgary)
  group4="Dyslexic"
  Category4.append(group4)

In [ ]:
#storing group data
Category4_data=pd.DataFrame(data=Category4)
Category3_data=pd.DataFrame(data=Category3)
Category2_data=pd.DataFrame(data=Category2)
Category_data=pd.DataFrame(data=Category)
categories=pd.concat([Category4_data,Category3_data,Category2_data,Category_data],axis=0) #combining dataframes into one
from sklearn import preprocessing
#converting character string into integer value (0,1)
category=preprocessing.LabelEncoder()
y=categories
y2=y.apply(category.fit_transform)

In [ ]:
#creating input arrays from lists
LX_tot=np.array(arrays_LX)
LY_tot=np.array(arrays_LY)
RX_tot=np.array(arrays_RX)
RY_tot=np.array(arrays_RY)
array_tot=np.concatenate((LX_tot,LY_tot,RX_tot,RY_tot), axis=1)
#now have 181 rows with 4000 columns

In [ ]:
from sklearn.model_selection import train_test_split
#creating training and testing sub-groups for network
array_tot_train,array_tot_test, y2_train, y2_test=train_test_split(array_tot, y2, test_size=0.4, random_state=3)
#LX_tot_train, LX_tot_test, LY_tot_train, LY_tot_test, RX_tot_train, RX_tot_test, RY_tot_train, RY_tot_test, y2_train, y2_test = train_test_split(LX_tot, LY_tot, RX_tot, RY_tot, y2, test_size=0.3, random_state=3)

In [ ]:
from sklearn.preprocessing import StandardScaler
#scaling data to get more accurate predictions
data_scaler=StandardScaler()
data_scaler.fit(array_tot_train)
array_tot_train=data_scaler.transform(array_tot_train)
array_tot_test=data_scaler.transform(array_tot_test)
"""
data_scaler.fit(LX_tot_train)
LX_tot_train=data_scaler.transform(LX_tot_train)
LX_tot_test=data_scaler.transform(LX_tot_test)
data_scaler.fit(LY_tot_train)
LY_tot_train=data_scaler.transform(LY_tot_train)
LY_tot_test=data_scaler.transform(LY_tot_test)
data_scaler.fit(RX_tot_train)
RX_tot_train=data_scaler.transform(RX_tot_train)
RY_tot_test=data_scaler.transform(RY_tot_test)
"""

'\ndata_scaler.fit(LX_tot_train)\nLX_tot_train=data_scaler.transform(LX_tot_train)\nLX_tot_test=data_scaler.transform(LX_tot_test)\ndata_scaler.fit(LY_tot_train)\nLY_tot_train=data_scaler.transform(LY_tot_train)\nLY_tot_test=data_scaler.transform(LY_tot_test)\ndata_scaler.fit(RX_tot_train)\nRX_tot_train=data_scaler.transform(RX_tot_train)\nRY_tot_test=data_scaler.transform(RY_tot_test)\n'

In [ ]:
from sklearn.neural_network import MLPClassifier
#setting up network
obj_neural=MLPClassifier(hidden_layer_sizes=(50,50,50), max_iter=25000, solver='lbfgs')
obj_neural.fit(array_tot_train, y2_train.values.ravel())
predictions=obj_neural.predict(array_tot_test)
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y2_test, predictions))
#compares predicted classes to actual classes
#--> showing which objects got classified the right way according to a matrix.
print(classification_report(y2_test, predictions)) #analyzes the predictions

[[32 10]
 [24  7]]
              precision    recall  f1-score   support

           0       0.57      0.76      0.65        42
           1       0.41      0.23      0.29        31

    accuracy                           0.53        73
   macro avg       0.49      0.49      0.47        73
weighted avg       0.50      0.53      0.50        73

In [ ]:
#instead of network, trying a logistic regression fit (also not very accurate)
from sklearn.linear_model import LogisticRegression
regressor=LogisticRegression()
regressor.fit(array_tot_train, y2_train.values.ravel())
predictions=regressor.predict(array_tot_test)
pred=pd.DataFrame(data={"Predicted":predictions})
actual=pd.DataFrame(data=np.array(y2_test),columns=["Actual"])
tot=pd.concat([pred,actual],axis=1)
tot.apply(category.inverse_transform) #integer back to character

      Predicted       Actual
0      Dyslexia     Dyslexia
1      Dyslexia     Dyslexia
2   No Dyslexia     Dyslexia
3      Dyslexia  No Dyslexia
4   No Dyslexia  No Dyslexia
..          ...          ...
68     Dyslexia  No Dyslexia
69     Dyslexia     Dyslexia
70     Dyslexia  No Dyslexia
71  No Dyslexia  No Dyslexia
72     Dyslexia  No Dyslexia

[73 rows x 2 columns]